[2015-04-22 10:21] HeikoMamerow opened #1 "example.php"
Bonjour Baptiste,
sorry, i do not understand clearly, how to bring (indexing?) the content from my website into the autocomplete-suggestions.... Can you please show the example-script from your demo website? I would like to find out, how you wrote this.

I mean this example-script:
http://autocomplete-js.com/1.5/example.php

Tnx & greetings from Berlin!
:-)

[2015-04-23 07:59] baptistedonaux commented on #1
Hi @HeikoMamerow,

Thank you for the link (I have fix the PHP warning).

To response at your question, the PHP script isn't really important.

The request send (in my case) a GET parameter ```q``` (/1.5/example.php?q=…) and the response must be a JSON.

Example :
[code]

My script looks like.

[2015-04-27 07:35] #1 closed

[2015-05-29 13:19] xandaro opened #2 "destroy method"
You should provide a destroy method to unbind all events and make sure no memory is still used, similar to jquery destroy:

http://api.jqueryui.com/autocomplete/#method-destroy

[2015-05-31 09:17] baptistedonaux commented on #2
I add this feature for the next roadmap.

[2015-06-05 12:52] baptistedonaux commented on #2
Feature available in 1.6. Documentation updated.

[2015-06-05 12:52] #2 closed

[2015-06-25 19:24] lygstate opened #3 "no demos"

[2015-06-26 06:34] baptistedonaux commented on #3
Hi, many people asks me examples but I don't understand what is missing in the documentation.

There is one example in the documentation (client integration). Is it server integration who miss you or other ?

[2015-06-28 09:11] adis-me commented on #3
Would love to see some different templates, is it even possible? I can not answer that question without installing an trying out your library. But it looks nice!

[2015-06-30 19:11] baptistedonaux commented on #3
Thank you for feedback ! I will work on few examples ;)

[2015-07-10 16:16] davidchase opened #4 "Custom headers support"
Hi great simple autoComplete thanks for the work :+1:
I was wondering if its possible to allow to pass in custom headers, I see in the [source](https://github.com/autocompletejs/autocomplete.js/blob/master/src/autocomplete.js#L263) you only set one, in my case it would be great to be able to add multiple headers in order for me to do a `GET` on the URL.

Let me know if you want to do this or not..

[2015-07-11 19:07] baptistedonaux commented on #4
Hi @davidchase and thank you for your feedback.

This feature is interesting and I think others people will be interested to customize any headers.

I add this feature in the next release. I will develop the feature and I integrate it for the 1.7 release.

[2015-07-11 19:17] davidchase commented on #4
Awesome thanks :+1:

[2015-07-18 08:43] scotv opened #5 "Pressing 'Enter' cannot hide the select dialog"
Hi @baptistedonaux, thanks for your lightweight autocomplete.js.

When I left-click an item I want to select:

0. item value will insert into the `input[autocomplete]`
0. select dialog will be disappear / hidden

However, when I press `Enter` key on the item I want to select:

0. item value will insert into the `input[autocomplete]`
1. select dialog __STILL__ shows up

Here is the reason of this i

[2015-07-18 09:04] scotv opened #6 "Suggestion on Key/Value support for autocomplete.js"
Hi @baptistedonaux,

for default HTML `<select>/<option>`, we have:

[code]

Currently, I think your autocomplete.js only supports a simple display value, but sometimes I want:
[code]

I made little changes (see [e381632] [1]), so that we can display the value of item, and store the key of item into the `input[data-autocomplete]`:

[code]

Also, each JSON item is an `Object`, not just a `string`,

[2015-07-18 09:18] scotv opened #7 "Key press up and down may not work in v1.6.0"
Hi @baptistedonaux,

In your v1.6.0, you have:

[code]

but when you  try to remove `class="active"` by using `attrClass(liActive, "")` when pressing key up or down. It may not work.
[code]

__In fact, you have changed your `attrClass` in revision e782083, this change also fixed this issue.__

I am wondering why the key press up and down works in you demo website, maybe you use a different version

[2015-07-18 09:23] scotv opened #8 "Why put attr, attrClass and domCreate globally?"
Hi @baptistedonaux,

I just wondering why you put `attr()`, `attrClass()` and `domCreate()` globally, instead of inside the `AutoComplete` object?

Thanks again for the lite autocomplte.js, I am using it.

[2015-07-18 16:36] baptistedonaux commented on #4
A new version (1.7.0) is bumped and build. You can find the documentation updated here.

http://autocomplete-js.com/#headers

[2015-07-18 16:36] #4 closed

[2015-07-18 16:45] baptistedonaux commented on #5
Hi @scotv !

Thank you for this analyse ! I look your demonstration and your fix tomorrow and I come back to you.

[2015-07-18 16:48] baptistedonaux commented on #7
Hi @scotv

Already fix it in 1.7.0 release.

But thank you for your feedback.

[2015-07-18 16:48] #7 closed

[2015-07-18 16:58] baptistedonaux commented on #8
Hi,
When I released the first version of Autocomplete.js, I would wanted  a really lite script ( < 4KB). With the features added in 1.1, 1.2, ... I would wanted with script < 4KB. So, I have created few alias method to limit size but this hack reached these limits.

For next rewrite (2.* releases), I won't use alias method and remove this size limit because it's a brake for features development.

[2015-07-19 13:57] baptistedonaux commented on #5
I tried your fix and it's perfect. You can send a pull request.

[2015-07-19 15:08] #5 closed

[2015-07-20 13:21] baptistedonaux commented on #6
Hi @scotv

It's a good feature but I think that develop this feature before 2.0 release is a bad idea.

For the rewrite (2.0) I think use TypeScript. So develop this feature now can be a time investissement really important.

Personally, I don't develop this feature but if you want send a pull request, I will be happy te accept it for a new version.

[2015-07-24 12:09] nleo opened #10 "Form submits on enter key"
Put 'll', select 'Hello' with arrows, press enter, input text replaced with 'Hello', but before it form send with 'll' to server

[code]

[2015-07-24 12:14] nleo commented on #10
This helps

[code]

[2015-07-24 12:22] nleo opened #11 "Maybe some delay and not send ajax on every key press?"
Wait until user stop typing. Like here http://stackoverflow.com/a/7849308/4559221

[2015-07-24 12:40] nleo commented on #11
[code]

[2015-08-03 14:14] baptistedonaux commented on #11
This feature can be developed but add a low gain because, when a key is press, the last request is aborted to limit the number of current request at 1 maximum.

You can send a pull request by suggesting a parameter to customize the time to wait.

[2015-08-12 06:30] #8 closed

[2015-08-12 06:31] baptistedonaux commented on #10
Hi @nleo . It's true, It's really problematic. I work on the next version. I implement now this fix. Thank you for your feedback.

[2015-08-12 06:34] baptistedonaux commented on #3
I will add a live demo on the next website/documentation with the release 2.0.

[2015-08-12 06:57] baptistedonaux commented on #11
Feature implemented in ae4c29c4c5548f18c088ef4ba41e34d7c4560472 . Thank you for your feedback and your participation. Come back if you think can help in autocomplete.js development.

[2015-08-12 06:57] #11 closed

[2015-08-12 07:16] baptistedonaux commented on #10
Implemented in d7feb8ae8516046d41b8a4507736372650f8e19e. Thank you for your feedback, code fix and encouragement.

[2015-08-12 07:16] #10 closed

[2015-08-21 12:04] alexandrursu commented on #3
Yes, please share back-end PHP script for that is used for query filtering

[2015-08-21 12:47] baptistedonaux commented on #3
Yes, it is planned for the output autocomplete.js 2.x. Currently rewriting.

[2015-08-21 12:52] alexandrursu commented on #3
:( I am trying to implement it now, very helpful but very bad documented finally will need to try something else.

1. provide JSON example
2. Provide back-end script (will be nice everything to be in JS)
3. Make a separate demo or include it in downloadable ZIP

Thanks!

[2015-08-21 13:08] baptistedonaux commented on #3
The documentation takes HTML or JSON response.

JSON can be an array or an object. The response structure must match this :

For a JSON array
[code]

For a JSON object
[code]

The documentation explains the JS implementation. Autocomplete.js
is not specially coded for PHP dev. Please take mana or propose documentation add-on before critic open-source project.

[2015-08-25 16:35] suncoastkid opened #12 "Mobile Issue"
On Android, Firefox 40.0, keyup event not triggering on mobile without entering a space after the search term.

[2015-08-27 18:29] baptistedonaux commented on #12
Hi and thank you for tour feedback. Can You describe your environnement ?

* Phone OS
* Browser
* brower version

Do You have an website where I can test your problem ?

[2015-10-06 09:58] adaniello opened #13 "Highlight matched text"
Why not highlight matched text? For example, with a simple "strong" tag, or better with a custom class.

Thanks

[2015-10-15 17:14] baptistedonaux commented on #13
I @adaniello
Thank you for this question because it's really important to propose this feature. I work actually on the version 2 and I add immediately the feature in the next major milestone.

[2015-10-15 17:21] baptistedonaux commented on #6
After much thought, this good idea doesn't integrate (for the moment) because the project purpose is giving a simple text autocomplete.js, similarly at jQuery UI Autocomplete.

Replace basic DOM with ul/li by select/option isn't necessary. More, the display of this element complexity the project.

Today, the capital gain is limited, so I prefer concentrate my effort on a simple script.

Best Regar

[2015-10-15 17:21] #6 closed

[2016-02-17 08:42] baptistedonaux commented on #13
Lack of time to develop this feature. Postponed to the next roadmap.

[2016-02-17 08:42] baptistedonaux commented on #12
No response and new release. Done.

[2016-02-17 08:42] #12 closed

[2016-02-17 08:43] #3 closed

[2016-05-16 11:20] Glefty opened #19 "_QueryArg: function () is never consumed"
Please consider using the function in AutoComplete.prototype.ajax() rather than the property.  I also recommend setting the query parameters in the default implementation of _QueryArg().

[2016-05-17 00:36] rafaelcamargo opened #20 "npm support"
Please, publish this as a NPM package too.

[2016-05-17 07:42] baptistedonaux commented on #20
The lib is published https://www.npmjs.com/package/autocomplete-js

README to improve but lib available.

Thank you @rafaelcamargo

[2016-05-17 07:42] #20 closed

[2016-05-17 12:41] rafaelcamargo commented on #20
Oh, nice. Thanks!

[2016-06-03 12:06] dedan opened #21 "Reset input field after selection"
I use an input field with autocomplete.js to populate entries in a list. You could see this as similar to adding tasks to a list in a TODO application. In order to add multiple items in a row, I want to clear the input field after an entry from the autoselect list got selected. How can I achieve this?

So far I tried selecting the DOM node via javascript and simply setting its `.value` property to

[2016-06-08 08:54] ScherlOMatic commented on #13
This feature is definetly a must have but you can also achieve this by doing some code in your business logic.
Before passing the data you can iterate over your object and do something like this:
` $mark = str_ireplace($query, '<b>' . $query . '</b>', $item);`
Don't forget to do a json_encode in the end.

[2016-06-08 08:58] ScherlOMatic opened #22 "Keyboard Enter without selecting an item."
Hello!

I'd like to have your awesome plugin plus the ability to use the "enter/return" button without selecting one of the autocomplete items.
If i write a few letters within my input field, I can see the suggestions below but when i press return nothing happens.

Is there a workaround or something else you can help me with?

thx in advance stefan

[2016-06-08 09:36] adaniello commented on #13
@ScherlOMatic thanks for sharing.
I do as well, but i'ld like to have response data without html tags so i hope @baptistedonaux will have time to solve it (maybe i'll find time to solve this issue).

[2016-06-15 18:34] adaniello opened #23 "Simple "copy & paste" error in docs"
Hi,
only now i note that in your doc there's a stupid error:  about "QueryArg" in column "Override HTML declaration" you pasted the "HttpMethod" sample.

It's all

[2016-06-15 20:13] adaniello opened #24 "QueryArg via data attribute not works"
Hi,
we could set "QueryArg" via "data-autocomplete-param-name" attribute but not works.

To fix this issue, i think you should change the line 500 in:

`queryParams = params._QueryArg() + "=" + params._Pre();`

So this call the workflow method in place of the settings param.

Regards

[2016-06-15 20:27] adaniello commented on #24
Fix proposal at #25

[2016-06-25 07:21] baptistedonaux commented on #21
Hello and sorry the response time.

I'm not sure to understand your problem. You want item in your input without reset the last content or do you want reset this input field when you select a new item ?

[2016-06-25 07:28] baptistedonaux commented on #22
Hello and sorry for waiting, I miss time.

So I resume, you want write letters in the autocomplete field, and without selected items, when I push enter button, one or all fields will be added in the input.

Currently when I see suggestions and I push enter button without selected one item, no action executed.

[2016-06-25 07:45] baptistedonaux commented on #13
Hi @adaniello @ScherlOMatic !

The autocomplete.js offers a simple tool without custom comportment. I'm not sure to want develop this feature for this reason :

-autocomplete.js offer an interface to display results, not code to filter results.
- The filtering is applied by the server, so if I write UK (in the example documentation) I can think that United Kingdom will be display. But it's impossi

[2016-06-25 07:50] baptistedonaux commented on #23
Thank you for your returns, I fix it the next week !

[2016-06-25 07:52] baptistedonaux commented on #24
Of course, Merged ;-) Thank you

[2016-06-25 07:52] #24 closed

[2016-06-25 10:27] dedan commented on #21
I already found a solution. Thanks for your response

[2016-06-25 10:27] #21 closed

[2016-07-12 15:04] irfanlbrce opened #26 "After entering the data and press /select last item using up arrow then focus goes to starting point on the search box"
<img width="1324" alt="screen shot 2016-07-12 at 11 01 05 am" src="https://cloud.githubusercontent.com/assets/10115931/16771947/4d56a214-4820-11e6-8dcb-0fd66a50c5ed.png">

After entering the data and press /select last item using up arrow then focus goes to starting point on the search box and not taking result from auto complete.

[2016-07-12 15:24] #19 closed

[2016-07-19 07:07] baptistedonaux commented on #13
Feature implemented into 2.1. Released quickly.

[2016-07-25 15:02] ediblemanager opened #27 "Search isn't triggered with only one character"
Hi,

I might be getting this wrong, but it seems from the example country search on the main page and in my own implementation that triggering a search with one character now doesn't happen (it worked in version 1.7, but in version 2+, it seems to no longer work).

Any advice?

Cheers

[2016-07-25 18:16] baptistedonaux commented on #27
Hi @ediblemanager ,

Thank you for your feedback ! I'm currently working on release 2.1. I test that and I fix it.

[2016-07-25 18:19] baptistedonaux commented on #26
Thank you for your feedback. I'm working on next release. I must identify if it's a fail of documentation or library.

[2016-07-25 18:30] baptistedonaux commented on #23
The documentation available at this URL (http://autocomplete-js.com) is now hosted by GitHub. The documentation can be edited in this repository [autocompletejs/autocompletejs.github.io](http://github.com/autocompletejs/autocompletejs.github.io).

You can help me in sending a PR.

Thanks.

[2016-07-26 09:18] ediblemanager commented on #27
@baptistedonaux great! Thanks for making this library. Your work is appreciated!

[2016-07-28 06:46] baptistedonaux commented on #27
Hi, I have "isolate" the fail. Currently, the keydown event is used whereas the last value is returned. In any case, the previous value was search.

Fixed in 2.1, thank you for your feedback !

[2016-07-28 06:46] #27 closed

[2016-07-28 10:16] #13 closed

[2016-07-28 10:51] baptistedonaux commented on #23
@adaniello Can you confirm this issue has been fixed ?

[2016-07-28 11:02] baptistedonaux commented on #22
Wow, I don't know why this issue has been tagged fike a « Bug ». Do you have resolve your problem ?

[2016-07-28 11:53] baptistedonaux commented on #23
Merged ! Thanks !

[2016-07-28 11:53] #23 closed

[2016-07-28 12:03] baptistedonaux commented on #26
Fixed

[2016-07-28 12:03] #26 closed

[2016-07-29 11:00] ediblemanager commented on #27
@baptistedonaux Thanks for your work!

[2016-07-30 07:13] ScherlOMatic commented on #22
Hello!
I am using another plugin atm. But I will give it a try.
Let you know asap.

see u

[2016-07-30 09:09] baptistedonaux commented on #22
Could you given the project URL ?

[2016-08-06 19:46] Metrakit opened #28 "Possibilité de sélectionner la première proposition"
Bonjour,
Merci tout ta lib !

J'ai une petite question, est-il possible de sélectionner automatiquement la 1ere proposition dans l'auto-complétion ?

[2016-08-07 09:32] baptistedonaux commented on #28
Hi @Metrakit and thank you for your encouragements.

Without override the code, this feature is unavailable but you can easily rewrite the method [**_Render**](http://autocomplete-js.com/#_Render).

[code]

I don't have tested but your case seems simple. Send me a feedback Please ;-)

[2016-08-07 09:53] Metrakit commented on #28
Thanks ! I'm going to try that

[2016-08-31 13:01] #28 closed, assigned to nobody

[2016-08-31 13:02] #22 closed

[2016-09-20 15:45] gaetanhauray opened #29 "Can't select value on Safari"
Hi,
On safari (5.1.7), I can't select a value from the autocompleted list, when I try, the list just close without trigger event attached in _Open() method.

I search for reason and I found this :
I think when I click on a choice (a `<li>`), blur event of element `<input>` is trigger BEFORE my click, so the autocomplete list closed immediately, and my click didn't "hit" my `<li>`.

I fix this prob

[2016-09-21 16:09] MorningZ opened #30 "Possible to override clicking an item?"
I'm using this great plugin to to an autocomplete for contacts, generally in the form of:

[code]

I'd like to be able to cancel "selecting" the item (and filling in the input field) and just make that email address hyperlink work and then manually call "_Blur" to close the autocomplete results

Is that possible?  I tried to override the "_Select" method, which allowed me to not fill in the <input

[2016-11-16 12:06] cinan commented on #30
Try overriding _Blur function with this:

[code]

Effectively it ignores `now` parameter and always delays closing the autocomplete.

[2016-11-21 19:15] omissis opened #34 "Configuring KeyBoard Mappings"
It would be nice to be able to customize Keyboard Mappings to implement more advanced behaviours and modify existing ones. For example I can't see a way to bind the ESC key that doesn't require some heavy hacking with the internals.

Any thoughts/suggestions?

[2016-11-23 12:38] baptistedonaux commented on #34
There is [**KeyboardMappings**](https://github.com/autocompletejs/autocomplete.js/blob/2.1/src/autocomplete.ts#L117) option (which isn't describe in the documentation 😞).

I think you can merge the default configuration with your custom mapping.

[code]

[2016-11-23 13:09] omissis commented on #34
ah that's cool, thanks. I'll try that and see if I can add that to the docs :)

[2016-11-23 13:09] #34 closed, assigned to nobody

[2016-11-23 13:39] omissis commented on #34
@baptistedonaux ok the suggestion works, with the only issue that ConditionOperator is not exposed, so it's not possible to use it as in the core definitions. Since my use case is rather simple, I managed to add it anyway, but it should probably be fixed. Should I open a ticket for that? (Maybe I will also manage to push a PR, but that'll take some more time)

[2016-11-28 08:49] baptistedonaux commented on #30
@MorningZ @cinan The best solution isn't to lock ```_Blur``` function because, the results list will be never closed. To catch neatly this behavior, it should have the ```event``` and call ```event.preventDefault();```.

[2016-12-07 06:36] oahdoot opened #36 "this._Limit() Not Enforced"
It seems that `this._Limit()` is not enforced on the results. I am not sure if this is by design, but I would assume that the limit would be imposed on the rendering of the response, so that the `<ul>` would only contain a set amount of results (the limit).

[2016-12-07 08:22] baptistedonaux commented on #36
Thank you for your report but I come just fixed this bad comportment with PR #32.

Could you confirm me that issue is fixed ?

[2016-12-07 17:00] oahdoot commented on #36
Excellent turnaround! It works perfectly, but I noticed one quirk: If you don't have a `Limit` set, then the default is `0`. This doesn't make sense to me, since it would stand to reason that by default, autocomplete should display **all** of the results (the length of `response.length`). Perhaps `Limit` should be `undefined` by default, and if there is no `Limit` supplied, it should default to th

[2016-12-12 10:03] csakip opened #37 "Results stay in place after window resize"
The result dropdown is placed on initialization and stay there. If you resize the window, it should recalculate its position.
I tried to call _Position() after resize but that gives a new default dropdown and keeps the original too.

[2016-12-12 10:06] csakip commented on #37
Any repositioning of the parent input results this. If I resize a div above it and it is pushed down, the dropdown stays in its original position.

[2017-01-06 10:59] baptistedonaux commented on #36
```Limit``` default value could be ```undefined``` but the code works today. All parameters follows the same logic.

Thank you for your feedback !

[2017-01-06 10:59] #36 closed, assigned to nobody

[2017-01-06 11:06] baptistedonaux commented on #37
Hi and sorry for the response time !

An event can be throw to recalculate the result element position.

[code]

[2017-02-14 12:16] dalf opened #39 "add a cache"
In the same page, when the user type the same text twice, autocomplete.js sends the same HTTP request.

It would be nice if autocomplete.js could cache the results (not accross HTML pages).

[2017-02-14 12:29] dalf opened #40 "keyboard selection and forms"
Setup :
* a form with a input text and a submit button.

Use case :
* set the focus on the input text
* select an autocomplete choice with the keyboard (arrow keys)
* press enter

What happen :
* the form is submit with the value before the selection (if I didn't mess up with the installation see bellow)

What is expected :
* the form is submitted with the selected value

See : https://al-f.net/se

[2017-02-27 19:32] benoitongit commented on #29
Same here, Safari and Chrome have this issue

[2017-03-06 09:24] alpae commented on #29
+1 (chrome on macosx) but the proposed fix doesn't work either. no problem with safari and firefox though

[2017-03-07 12:25] #37 closed, assigned to nobody

[2017-03-07 12:26] #30 closed, assigned to nobody

[2017-03-07 12:36] baptistedonaux commented on #40
@dalf Are you sure that the form is really sent because if I see the last released source code, I can see a ```preventDefault``` call.

* https://github.com/autocompletejs/autocomplete.js/blob/v2.4.0/src/autocomplete.ts#L155
* https://github.com/autocompletejs/autocomplete.js/blob/v2.4.0/src/autocomplete.ts#L170

I can't reproduce the same fail. Do you have others informations to reproduce the iss

[2017-03-07 12:43] baptistedonaux commented on #29
Currently, I tested to reproduce this fail on the documentation with these browsers.

- [x] Firefox Linux - _no problem with version **54**_
- [x] Firefox Mac OS X - _no problem with version **51**_
- [ ] Firefox Windows
- [x] Chromium Linux - _no problem with version **56**_
- [x] Chrome Mac OS X - _no problem with version **56**_
- [ ] Chrome Windows
- [x] Safari - _no problem with version **10*

[2017-03-08 09:17] baptistedonaux opened #41 "Implement localStorage cache to persist cache"
Purposes :
- Shared cache between page with same domain
- Persist cache between two loading

[2017-03-08 09:24] baptistedonaux commented on #39
Done

[2017-03-08 09:24] #39 closed, assigned to baptistedonaux

[2017-03-08 09:45] baptistedonaux commented on #39
```v2.5.0``` released

[2017-03-16 10:57] ezkimo commented on #40
I have the same issue with HTML5 forms with validation constraints. Reproducable on current versions of Microsoft Edge, Mozilla Firefox and Google Chrome browsers. Safari was not tested.

`AutoComplete(
    {
        ...
    },
    'input[name="zipcode"]'
);
`

No special options where set. Just a url for the request and a limit. When iterating through the results with the up and down keys and the

[2017-03-16 11:04] dalf commented on #40
I've just made a quick example : https://github.com/dalf/autocomple-test

[2017-03-16 11:06] dalf commented on #41
It would be nice to be able to disable the use of this cache with an option.

[2017-03-16 15:16] dalf opened #43 "move the mouse over a choice should update the current selection"
Right now, if :
* the user the keyboard to change the selection, but doesn't validate
* move the mouse over the choices
There are two highlights choices.

It would be less confusing to update the selection when the user moves the mouse over the choices.

[2017-03-18 11:20] dalf opened #44 "Feature : Escape key to close the menu"
It could be useful to be able to hide the menu when the user presses the Esc key.
For example, if there are information behind the menu.

[2017-04-04 12:00] karamanolev opened #45 "Show results even with empty input on focus event"
I've been using this library successfully and it looks great, but now I need to show some results (more like recommended searches) without any input - just on focus. After I read the source, it seems the the only event where the search is performed is on keyup for alphanumeric characters and so what I want is impossible. If there already are results, then they will show up on focus, but not if the

[2017-04-27 16:29] baptistedonaux commented on #40
This issue has been resolve into ```2.6.3```. Sorry for the response time !

[2017-04-27 16:29] #40 closed, assigned to baptistedonaux

[2017-04-28 04:15] eliasgonzalezugalde commented on #29
I'm having the same issue with Chrome on Windows. :(

[2017-04-28 18:40] ScherlOMatic commented on #43
this would also fix my problem when selecting a value with the keyboard and pressing enter, the form get's submitted but the autocomplete value is missing.

[2017-04-29 07:32] dalf opened #46 "Enter key ignored when the user doesn't choose an autocompletejs choice."
[code]
should be inside the
[code]
condition.

Scenario :
* the user types something
* autocompletejs shows some choices
* the user presses press enter (without using the autocomplete choices)

Then the enter key is ignored because some choices are shown.

[2017-06-21 12:07] jaronbarends opened #51 "Be able to key out of suggestions list"
(I have added pull request #50 for this)

**Scenario:**

pull request in issue #46 is merged
List of suggestions is open
User navigates the list with up/down arrow keys
User reaches the first (going up) or last (going down) item the list
Now the user can not "leave" the list to be able to submit the text in the search field with [enter]

My pull request makes the active item not wrap around, but r

[2017-07-08 08:00] 1u0n commented on #29
I was facing the same problem, on Firefox+Windows.

In my case, I realized it had to do with `<li>` elements with long text, so that if in the list there is at least one element whose text breaks in 2 lines, clicking on the list elements will behave strangely.

I solved it adding this style

[code]

so now every element takes only 1 line no matter how long its text.

Of course this is just a part

[2017-07-21 11:31] Micsou opened #53 "Dropdown list not shown in Bootstrap Modal"
Hi,
I've just installed javascript.js in an app and had a problem displying the dropdown list in a Bootstrap Modal.
When initializing dropdown style, width and position were set to 0 in _Position function.
Finally i've added a line for resetting the style after loading items on line 430 in _Render function.

[code]
Seems to work well.
Don't know if that trick can help... hope so..

[2017-08-08 09:47] iamkhush opened #54 "Send extra query params"
I need to send query params to specify the values expected in response.
For example "values":"name" .

How can I do that?

[2017-08-08 19:22] iamkhush commented on #54
Got it!
Since the params were constant in nature, I added them directly to QueryArg.
Earlier  - QueryArg: "name",
Now     - QueryArg: "values=name&name"

[2017-08-08 19:22] #54 closed, assigned to nobody

[2017-08-09 14:26] artemsky commented on #53
same here just in bootstrap modal with default styles

[2017-08-30 13:35] baptistedonaux commented on #43
I looked your MR #48. Its seems good but I'm not sure that everybody want this comportment.

Could you add another variable (`OverSelection`) to enable/disable this comportement according to user workflow ?

[2017-08-30 13:42] #46 closed, assigned to nobody

[2017-08-30 13:55] baptistedonaux commented on #53
@Micsou Thank you for this tricks. Do you have try to generate new position ?

[code]

[2017-08-30 13:57] baptistedonaux commented on #29
@1u0n Thanks your solution. If this problem can be solved by a specific CSS rule, ping me !

[2017-08-30 14:14] baptistedonaux commented on #45
Your question is old but I give you my response. All can be overridden.

If you rewrite the method `_Focus` you can managed `input` selection.
If you play in the same time with `_Render` method, technically you can add another DOM element into `<div>` which will be brother of `<ul>`.

All can be overriden but few different comportment can be hard to develop because it can be required to rewrite al

[2017-08-30 14:14] #45 closed, assigned to nobody

[2017-10-01 10:44] joelataylor commented on #37
This helped me, thank you!

[2018-02-05 14:54] neuropass opened #56 "textarea?"
Is it possible to use this on let's say a textarea? so like create a dropdown inside a textarea.
Kinda like here on GitHub when you mention someone?
Like this:
https://gyazo.com/16448344abdd88f4c440cfaf0080e4af.png

[2018-02-05 15:35] adaniello commented on #56
You should use a specific plugin. In past i used this http://jakiestfu.github.io/Mention.js/

[2018-02-05 18:58] baptistedonaux commented on #56
@neuropass You can use autocomplete.js but I recommend you this project. I think its a better solution http://autocompletejs.com/

[2018-02-05 23:14] neuropass commented on #41
don't please. you gonna bloat the plugin. this is not needed and beyond the scope of the plugin.

[2018-02-06 09:19] adaniello commented on #56
I'm not sure. I think that @neuropass wants a "mention" feature that combines text and other info from autocomplete (eg. recipient, user, ...): this is not possible with autocomplete.js or http://autocompletejs.com/

[2018-02-13 15:16] Hussain08 opened #57 "How can I unbind the input?"
It's not an issue but rather a question of existing features; Do we have a way to unbind (remove the autocomplete feature from the particular input field) something like Autocomplete.destroy("#input")?

[2018-03-08 11:32] baptistedonaux commented on #57
You can try this.

[code]

[2018-04-24 14:55] nenad007 opened #58 "How to work with different data model"
Is there a way how I could got town, state and country and display like: "Town, State, Country" as proposal from my data format?

And then, can I somehow got filled a hidden field with woe_id value of selected element (to be able to use it on form submit)?

My data format:
[code]

[2018-06-11 09:26] ghost opened #59 "query argument customizing"
Hello, the REST API to which I'm sending the query only accepts the following format:
`/api?<field>=<operator>.<query string>`

for instance if I were to search for the name of a person named Roger:
`/api?name=ilike.roger`

I have declared my search argument as `"name=ilike."` however it looks like the "=" in my search argument is percentage coded to %3D and an equal sign is stuck before my query

[2018-06-12 10:28] baptistedonaux commented on #59
Hi !

You can use [`_Pre`](http://autocomplete-js.com/#_Pre) method to override value sent.

With this way, you can keep field with value `name`.

[2018-06-12 10:28] #59 closed, assigned to nobody

[2018-06-12 10:36] baptistedonaux commented on #58
Hi !

You can use [`_Post`](http://autocomplete-js.com/#_Post) method and/or [`_Render`](http://autocomplete-js.com/#_Render) method.

[2018-06-12 10:36] #58 closed, assigned to nobody

[2018-06-15 13:38] madisamou opened #60 "When item is selected input remains empty"
I am having a problem with selecting an item returned by the autocomplete.
I write some letters, see some suggestions and when i click one of them, nothing happens, the input field remains empty.
Problem encountered on both mobile and desktop.

Have you an idea about this issue ?

Thanks

[2018-06-17 12:05] fake-fur opened #61 "cannot find AutoComplete()"
hi and thanks for the great work

i am having trouble getting it to even function right now and i'm sure it's something i'm doing wrong, but any idea why:

ReferenceError: Can't find variable: AutoComplete

would be happening?

thanks again

[2018-06-17 13:59] fake-fur commented on #61
fixed my issue - sorry

[2018-06-17 13:59] #61 closed, assigned to nobody

[2018-06-17 14:39] fake-fur opened #62 "display changes to ID value..."
hi again

so if i return an object so:

{"1" : "blah", "2" : "blee", "3" : "bloo"}

when i slected an item in the droplist, the displayed value in the textbox is suddenly the numeric ID value and not the text string

how can i change this behaviour?

thanks

[2018-06-17 15:02] fake-fur commented on #62
ok i think i figured out i have to override the _Select method and change what is returns to the text not the value

[2018-06-17 21:47] #62 closed, assigned to nobody

[2018-06-28 15:04] sondr commented on #60
I have the same issue. The first two  items shown in  the list works, but none after those two. I think it might have to do with the height of the elment where autocomplete is inserted.

[2018-06-28 18:12] sondr commented on #60
My issue was resolved by following the proposed fix in first post [here](https://github.com/autocompletejs/autocomplete.js/issues/29)

[2018-07-18 11:39] eadile opened #63 "[Deprecation] Using unescaped '#'"
Console show this message :

[Deprecation] Using unescaped '#' characters in a data URI body is deprecated and will be removed in M68, around July 2018. Please use '%23' instead. See https://www.chromestatus.com/features/5656049583390720 for more details.

[2018-08-08 16:00] jgauna opened #64 "Access to request events?"
It would be nice to somehow access to AJAX readyState so everyone can manage what happened with the response (eg show a loading indicator)

Regards

[2018-08-21 07:28] baptistedonaux commented on #29
Lot of time has passed since opening this issue. I can't reproduce but may people seems have this frustrating problem. So, I have deployed a patch (**2.7.1**) which integrate the solution given by @1u0n.

Thanks for your help !

[2018-08-21 07:29] baptistedonaux commented on #60
https://github.com/autocompletejs/autocomplete.js/issues/29#issuecomment-414577500

[2018-08-21 07:29] #60 closed, assigned to baptistedonaux

[2018-08-21 07:34] baptistedonaux commented on #63
Thanks for your report but I'm not use this char explicitly. Is it a deprecation relative to input value ?

[2018-08-21 19:26] gurgeous commented on #29
I am experimenting with autocompletejs today to see if it is right for my project. I encountered the issue as well in Chrome 68.0.3440.106. The `nowrap` change didn't help, but the original suggestion from @gaetanhauray (delay the blur) fixed the problem.

[2018-08-21 19:29] gurgeous commented on #29
I agree with the assessment above - the blur fires before the click, thereby closing the autocomplete instantly. The `now` variable will be set to the FocusEvent in this case.

[2018-08-23 19:07] matthieu2607 commented on #41
Great feature !

[2018-09-26 02:30] jefhar opened #67 "Multiple Autocompletes use same cache"
I have three Autocomplete fields on the same page which query different endpoints. It seems they all use the same cache.

Can I use a different cache for each field by overriding something or do I need to invalidate the cache somehow when a different field has focus?

[2018-10-04 12:00] pulzarraider commented on #29
I can confirm this bug on Firefox 62 and Chrome 69 (both Win).
This is critical problem of this library. Solution - change the condition checking the `void 0`:

[code]

[2018-10-05 07:17] pulzarraider commented on #37
This should be build in feature inside this autocomple library.

[2018-10-05 21:47] gurgeous commented on #67
We encountered this issue as well, which I think is a bug. The Params object should use a fresh `{}` for each `$Cache`. In the meantime, you can work around this by passing `$Cache:{}` to `AutoComplete()`.

[2018-10-16 09:38] someniatko opened #68 "default _Blur always has now == true"
`_Blur()` acts as event handler for input.blur event.
It's signature looks like this (took from compiled, vanilla JS code):

[code]

However, `now` is always a FocusEvent instance. Therefore, now is always equal (in non-strict sense) to true, and timeout is never fired. This causes race condition between click on suggestion element and animation of closing list with suggestion elements. If you rem

[2018-10-16 10:01] someniatko opened #69 "Click is not registered if holding mouse key for too long"
Test case:
1. Start typing into suggester (e.g. on project's demo page). Wait for suggestions to pop up.
2. Left-click on the one of suggestions. Do not release the mouse key but hold it for 2s.
3. Release mouse button.

Expected:
Suggestion is selected and its value is shown in the input field. List is closed right after mouse button is released.

Actual:
List is closed way before mouse button is

[2018-11-15 12:05] pratham2003 opened #70 "How to use directly without NPM?"
I'm using WordPress and want to include this script only on one single page.
How can I do that? If I use the js file directly I get AutoComplete is undefined error.

[2018-12-03 22:37] gurgeous opened #71 "tab & esc conditions"
Users of autocomplete systems have come to expect the following:

1. Hitting ESC should close the autocomplete.
2. Hitting TAB should select the first item if nothing is active. Hitting TAB if an item is active should do nothing.

It's easy to add this behavior outside the library, but the AlphaNum Conditions are too aggressive. We should add these Conditions to prevent re-renders for those keys.

[2019-01-02 09:20] matthieu2607 commented on #29
Hi,
I have this problem with Chrome 71 and Ubuntu and the nowrap solution does not change anything.
However, the @gaetanhauray  solution also corrected me the bug (delay the blur)

[2019-01-08 15:52] claudep commented on #53
Currently affected by this same issue. Any help for a no JS expert?

[2019-02-03 14:27] JoshuaBehrens opened #72 "Using raw html in response leaves suggestion flyout empty"
On an incoming string response [_Render](https://github.com/autocompletejs/autocomplete.js/blob/87069524f3b95e68f1b54d8976868e0eac1b2c83/src/autocomplete.ts#L393) uses the [empty ul return value](https://github.com/autocompletejs/autocomplete.js/blob/87069524f3b95e68f1b54d8976868e0eac1b2c83/src/autocomplete.ts#L449) of [_RenderRaw](https://github.com/autocompletejs/autocomplete.js/blob/87069524f3b

[2019-03-05 07:42] picks44 commented on #29
Same issue on Chrome (Windows), fixed with the @gaetanhauray solution.

[2019-04-12 06:45] kgkg opened #73 "TypeError: mapping.Conditions is undefined"
In browser (any) using dist/autocomplete.js we get error in console.log:
TypeError: mapping.Conditions is undefined: autocomplete.js:112:13

Completion works though.
It happens every time right before (of after) ajax callback.

If we change line 112 of js file (I know .ts should be changed, but I did this for quick experiment) to:
            if (mapping.Conditions) {
                mapping.Condi

[2019-04-16 14:17] claudep commented on #67
Thanks for the initialize tip, was bitten by the same bug too.

[2019-05-20 07:50] ghost opened #74 "The autocomplete is showing all the elements instead of showing only the query."
I am working with this autocomplete js plugin. I have an issue where if I enter a search query it shows all the entry instead of showing the matching one. For example lets say I am working with list of countries, If I enter Afg it shows all the countries in the order it was used in the data-autocomplete file while just highlighting the Afg in Afghanistan.

![brave_FRkPKKSJuw](https://user-images.g

[2019-06-14 21:42] mattbt opened #75 "Backspace query string under _MinChars fires request"
Hi,
I experienced some problems when using backspace button.
If I search for a string, e.g. "abcd", wait for request to be done, then delete some letters ending with a string with length < _MinChars

e.g.
_MinChars = 2
search text = "abcd" -> "abc" -> "ab" -> "a"

the request gets sent with query parametes ="a" (which shouldn't, since its lenght is 1) and results gets cached under "ab".
Anyone els

[2019-09-08 22:42] GEp1c commented on #29
@gaetanhauray thank you for your fix! works like a charm now :)

[2019-10-01 04:44] wisedevman opened #76 "Programmatically changing text field value / Dropdown won't open if field is preloaded with value."
If the field is preloaded with text, clicking on it won't open the dropdown menu. It should, as it happens when you write sth, blur and then refocus.

Similar problem, when the text field content is changed by script and than you focus the field, the drop down menu won't sync with the contents.

[2020-04-26 17:04] Chemtron opened #77 "How to Override Method"
I would like to keep the AutoComplete.js unaltered and override a method like _Post.
I have tried:
AutoComplete();
AutoComplete._Post = function(response) { mycode }
and
AutoComplete.prototype._Post = function(response) { mycode }

Javascript does not replace the method and calls the original method instead. My apologies my js is not expert enough to resolve this. How is this best done?

Thank you

[2020-04-27 11:19] arnolem commented on #70
You can download the lastest version here :
https://github.com/autocompletejs/autocomplete.js/releases

[2020-07-22 10:23] baptistedonaux commented on #70
You can try to use [GitHub releases link]( https://github.com/autocompletejs/autocomplete.js/releases). No CDN are provided.

[2020-07-22 10:23] #70 closed, assigned to nobody

[2020-07-22 10:26] baptistedonaux commented on #77
[You can follow example given in documentation.](http://autocomplete-js.com/#_Post).

[code]

[2020-07-22 10:26] #77 closed, assigned to nobody

[2020-12-29 21:48] EthanZeigler opened #78 "Project maintenance status: abandoned?"
Is this project still maintained? It appears to be abandoned.